<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
<Product
    Id='{29AEB8E7-3773-4403-828E-C5A3B59B9D62}'
    Name='Salt'
    Language='1033'
    Version='1.0.0.1'
    Manufacturer='Salt Community'
    UpgradeCode='{29AEB8E7-3773-4403-828E-C5A3B59B9D63}'>
  <Package
    Description='Salt Windows Installer package'
    Comments='Salt Windows Installer with all dependencies'
    Manufacturer='Salt Community'
    InstallerVersion='200'
    Compressed='yes' />

  <Media Id='1' Cabinet='salt.cab' EmbedCab='yes' />

  <Directory Id='TARGETDIR' Name='SourceDir'>

    <Directory Id='WINDOWSDir' Name='WINDOWS'>
      <Directory Id='System32Dir' Name='System32'>
        <Component Id='libeay32_dll'
          Guid='{24AEB8E6-3673-4401-828E-C5A3B59B9D64}'>
          <File Id='LIBEAY32_DLL' Name='libeay32.dll'
           DiskId='1' Source='deps\win32-py2.7\OpenSSL-Win32\libeay32.dll' />
        </Component>
        <Component Id='ssleay32_dll'
          Guid='{24AEB8E6-3873-4401-828E-C5A3B59B9D64}'>
          <File Id='SSLEAY32_DLL' Name='ssleay32.dll'
           DiskId='1' Source='deps\win32-py2.7\OpenSSL-Win32\ssleay32.dll' />
        </Component>
      </Directory>
    </Directory>

    <Component Id="MINION_CONFIG_ENV"
      Guid="{25AEB8E7-3773-4403-828E-C5A3B59B9D64}">
      <Environment Id="SALT_MINION_CONFIG" Action="set" Part="all"
        Name="SALT_MINION_CONFIG" 
        Permanent="no" System="yes" Value="[TARGETDIR]salt\etc\minion" />
    </Component>

    <Component Id="PYWIN32_PATH_ENV"
      Guid="{25AEB8E9-3774-4403-828E-C5A3B59B9D64}">
      <Environment Id="PYWIN32_PATH" Action="set" Part="last"
        Name="PATH"
        Permanent="no" System="yes" Value="[TARGETDIR]salt\python\App" />
    </Component>

  </Directory>

  <Feature Id='Salt' Title='Python with all packages' Level='1'>
    <ComponentGroupRef Id="PortableSalt" />
    <ComponentRef Id="MINION_CONFIG_ENV" />
    <ComponentRef Id="PYWIN32_PATH_ENV" />
    <ComponentRef Id='ssleay32_dll' />
    <ComponentRef Id='libeay32_dll' />
  </Feature>

</Product>
</Wix>
